/**
 * Default variables
 */

/* Color */
$color-primary: $color-brand !default;
$color-secondary: #faad14 !default;

// 表单项高度
$input-height-lg: 90px !default;
$input-height-md: 75px !default;
$input-height-sm: 56px !default;

/**
 * 组件变量
 */

/* Button */
// $lj-button-height-lg: $input-height-lg !default;
// $lj-button-height-md: $input-height-md !default;
// $lj-button-height-sm: $input-height-sm !default;
