@import '../variables/default.scss';
@import '../mixins/index.scss';

$classPrefix: '.lj-flex';

#{$classPrefix} {
  &--flex {
    flex: 1;
  }

  &--row {
    @include flex-row();
    align-items: center;

    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  &--row#{&}--larger {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-right: $spacing-h-xl;
    }
  }
  &--row#{&}--large {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-right: $spacing-h-lg;
    }
  }
  &--row#{&}--normal {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-right: $spacing-h-md;
    }
  }
  &--row#{&}--small {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-right: $spacing-h-sm;
    }
  }
  &--row#{&}--smaller {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-right: $spacing-h-xs;
    }
  }

  &--column {
    @include flex-col();

    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &--column#{&}--larger {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-bottom: $spacing-v-xl;
    }
  }
  &--column#{&}--large {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-bottom: $spacing-v-lg;
    }
  }
  &--column#{&}--normal {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-bottom: $spacing-v-md;
    }
  }
  &--column#{&}--small {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-bottom: $spacing-v-sm;
    }
  }
  &--column#{&}--smaller {
    & > radio,
    & > radio-group,
    & > picker,
    & > view,
    & > text {
      margin-bottom: $spacing-v-xs;
    }
  }
}
