@import '../variables/default.scss';
@import '../mixins/index.scss';

$classPrefix: '.lj-space';

#{$classPrefix} {
  display: inline-flex;

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &--gap-row {
    &-small {
      row-gap: $lj-space-row-gap-sm;
    }
    &-normal {
      row-gap: $lj-space-row-gap-md;
    }
    &-large {
      row-gap: $lj-space-row-gap-lg;
    }
  }

  &--gap-col {
    &-small {
      column-gap: $lj-space-col-gap-sm;
    }
    &-normal {
      column-gap: $lj-space-col-gap-md;
    }
    &-large {
      column-gap: $lj-space-col-gap-lg;
    }
  }

  &--align {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
    &-baseline {
      align-items: baseline;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--flex {
    display: flex;
  }
}
